body {
    margin: 0;
    font-family: 'Montserrat';
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1750px;
    margin: 0 auto;
}

/*    Header    */
.header_logo {
    height: 90px;
}

.nonstop {
    padding: 20px 0 20px 30px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24p;
}

#container_logo {
    position: relative;
}

#container_logo:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #d6d6d6;

    top: 100%;
    left: 0;

    position: absolute;
}

/*    Huge text    */
.huge_site_title {
    margin: 120px auto 13vh;
    text-align: center;

}

.big_text_title {
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
}

.small_text_title {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 400;
}

/*    intermediate_header    */
#intermediate_header_container {
    max-width: fit-content;
    font-weight: 600;
    padding: 0;
}

.intermediate-header {
    display: flex;
    width: 100%;
    align-content: center;
}

.intermediate_header_text {
    text-align: center;
    font-size: 44px;
    font-family: 'Montserrat', 'bold';
}

.wrap {
    text-align: center;
    margin: 40px;
    position: relative;
    width: 135px;
  }

.wrap:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    display: block;
    height: 2px;
    background-color: #cbcbcb;
}

.intermediate-header:hover .wrap:before {
    transition: 0.2s;
    background-color: #3a8043;
}

/*    'For who' list    */
#list_of_studs_container {
    max-width: fit-content;
    margin-top: 30px;
    margin-bottom: 13vh;
}

.list_of_studs {
    display: flex;
    max-width: 100%;
}

.stud {
    margin: 0 6vw;
    min-width: fit-content;
}

.list_of_studs_image {
    margin: auto;
}

#list_of_studs_img1 {
    height: 64px;
    width: 64px;
    background: url(../icons/list_of_studs_img1.svg);
}

#folder_stud:hover #list_of_studs_img1 {
    transition: 0.2s;
    background: url(../icons/list_of_studs_img1_hover.svg);
}

#list_of_studs_img2 {
    height: 57px;
    width: 65px;
    background: url(../icons/list_of_studs_img2.svg);
}

#pocket_stud:hover #list_of_studs_img2 {
    transition: 0.2s;
    background: url(../icons/list_of_studs_img2_hover.svg);
}

#list_of_studs_img3 {
    height: 64px;
    width: 47px;
    background: url(../icons/list_of_studs_img3.svg);
}

#pazzle_stud:hover #list_of_studs_img3 {
    transition: 0.2s;
    background: url(../icons/list_of_studs_img3_hover.svg);
}

.list_of_studs_text {
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}

/*   Direction list    */
#list_of_direction_container {
    margin-bottom: 40px;
}

.list_of_directions {
    margin: 0 auto;
    max-width: 85vw;
    width: 100%;
}

.direction {
    box-shadow: 0px 0px 30px #999999;
    border-radius: 22px;
    margin: 80px auto;
    min-height: fit-content;
}

.direction_info {
    display: flex;
}

.course_list {
    max-height: 0;
    overflow: hidden;
    padding: 0 40px;
    transition: 0.2s ease-out;
}

.direction_name {
    margin: auto;
    width: 30%;
}

.direction_description {
    margin: auto;
    width: 45%;
    padding: 30px 0;
    font-weight: 500;
}

.direction_more_info {
    margin: auto;
    height: 50px;
    width: 15%;
    background-color: white;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    right: 100%;
}

.direction_more_info:hover {
    color:#4da858;
    transition: 0.2s;
}

/*   Direction list text    */
.direction_name_text {
    font-size: 28px;
    font-weight: 600;
    margin: auto;
    text-align: center;
}

.direction_description_text {
    font-size: 18px;
    margin: auto;
}

/*    Course list table    */
table {
    border-collapse: separate;
    border-spacing: 3vw 5vh;
    margin:auto;
    width: 100%;
}

td {
    height: 60px;
    border-radius: 22px;
    border: 2px solid #3a8043;
    text-align: center;
}

td:hover {
    background-color: #3a8043;
    transition: 0.2s;
}

.course_button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0;
    font-weight: 600;
}

.course_button:hover {
    color: white;
}

/*-----Course modal style------*/

.modal-lg, .modal-xl {
    max-width: 65vw;
}

.modal-content {
    padding: 40px 40px 40px 60px;
    border-radius: 30px;
}

/*    modal header    */

.modal-header {
    padding: 0;
    height: 45px;
    border: 0;
}

.modal-title {
    font-size: 28px;
    font-weight: 600;
}

.close-button-container {
    height: 100%;
}

.close {
    float: right;
    top: 100%;
    border: 0;
    width: 20px;
    height: 20px;
    background: url('../icons/close_button.svg');
}

/*    study tern    */
.study-term {
    display: flex;
    font-weight: 600;
    margin-top: 10px;
}

.study-term-text {
    color:#777777;
}

.study-term-val {
    color:#3a8043
}

/*    Course description    */
.modal-description {
    margin-top: 30px;
}

.modal-description-text {
    font-weight: 500;
    font-size: 17px;
}

/*    Sign up button    */
.sign-up-button {
    margin-top: 60px;
    height: 65px;
    width: 290px;
    border: 2px solid #3a8043;
    border-radius: 22px;
    background-color: white;

    font-weight: 600;
}

.sign-up-button:hover {
    background-color: #3a8043;
    color: white;
    transition: 0.2s;
}

/*-----Sign up modal-----*/
#sign-up-modal-dialog {
    max-width: 600px;
}

#sign-up-model-content {
    width: 100%;
    padding: 40px;
}

#sign-up-close-button-conteiner {
    width: 100%;
}

/*    Sign up modal header    */

.sign-up-header {
    margin: 0;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
}

#sign-up-intermediate-header .wrap {
    width: 50px;
    margin: auto 30px;
}

#sign-up-intermediate-header .wrap:before {
    height: 1px;
}

/*    Sign up input form    */
.sign-up-form {
    width: 100%;
    padding: 0 40px;
    margin-top: 20px;
}

.form-group {
    margin: 45px auto;
}

.input-form {
    height: 50px;
    width: 100%;
    border: 0;
    box-shadow: 0 0 10px #999999;
    border-radius: 20px;
    padding-left: 20px;
    font-weight: 500;
}

.input-form:focus {
    outline: none;
}

/*    Sign up button    */

.sign-up {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 65px;
    width: 100%;
    border: 2px solid #3a8043;
    border-radius: 22px;
    background-color: white;

    font-weight: 600;
}

.sign-up:hover {
    background-color: #3a8043;
    color: white;
    transition: 0.2s;
}

/*-----End page logo-----*/
#end_page_logo {
    position: relative;
}

#end_page_logo:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #d6d6d6;

    top: 0%;
    left: 0;

    position: absolute;
}




